services:
  # default configuration for services in *this* file
  _defaults:
    autowire: true      # Automatically injects dependencies in your services.
    autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.
    public: false

  Tourze\DifyClientBundle\Controller\:
    resource: '../../Controller/'
  Tourze\DifyClientBundle\Command\:
    resource: '../../Command/'
  Tourze\DifyClientBundle\Repository\:
    resource: '../../Repository/'
  Tourze\DifyClientBundle\Service\:
    resource: '../../Service/'
    public: true
  Tourze\DifyClientBundle\Message\:
    resource: '../../Message/'
  Tourze\DifyClientBundle\MessageHandler\:
    resource: '../../MessageHandler/'
  Tourze\DifyClientBundle\Event\:
    resource: '../../Event/'

  # Explicit configuration for specific services
  Tourze\DifyClientBundle\Service\MessageAggregator:
    arguments:
      $aggregationTimeout: 30

